.star-rating {
	direction: rtl;
	display: inline-block;
	padding: 20px;

	input[type="radio"] {
		display: none;

		&:checked ~ label {
			color: #f2b600;
		}
	}

	label {
		color: #bbb;
		font-size: 18px;
		padding: 0;
		cursor: pointer;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover,
		&:hover ~ label {
			color: #f2b600;
		}
	}
}

.chatroom {
	.cr-topbar {
		z-index: 10;
		position: relative;
		height: 75px;
		background-color: black;

		.cr-topbar-content {

			.cr-topbar-left {
				float: left;
				padding-left: 5px;
				margin: 0;
				//width: 700px;

				.cr-topbar-btn {
					display: inline-block;
					height: 65px;
					width: 65px;
					margin-top: 5px;
					//margin-right: -2px;
					border: 1px solid white;

					& > a {
						display: block;
						height: 63px;
						padding: 1px;

						&:focus {
							outline: none;
						}
					}
				}
			}

			.cr-topbar-right {
				float: right;
				//width: 100px;
				height: 75px;
				border: 1px solid white;

				& > div {
					display: inline-block;
					margin: 0;
					padding: 0;

					& > a {
						margin: 0;
					}

					&.privacy {
						&.red {
							background-color: red;
						}
						
						&.yellow {
							background-color: yellow;
						}
						&.green {
							background-color: green;
						}

						a {
							line-height: 50px;
							padding-left: 20px;
							padding-right: 20px;
							color: white;
							display: block;
						}
					}
				}
			}
		}
	}

	.cr-bottom {
		height: calc(100vh - 75px);

		.cr-filler {
			height: 100%;
			display: inline-block;
			float: left;
			//background-color: blue;
			position: relative;
			z-index: 10;
		}

		.cr-dynamic {
			height: 100%;
			display:inline-block;
			margin-right: 1px;
			//float:left;
			//background-color: pink;

			.cr-dynamic-champion,
			.cr-dynamic-whiteboard {
				height: 100%;
			}

			.cr-dynamic-champion {
				background-color: pink;
			}

			.cr-dynamic-whiteboard {
				//background-color: blue;
				background-image: url("../img/minimap.jpg");
				background-size: contain;
				background-repeat: no-repeat;

				canvas {
					position: absolute;
					height: 100%;
					width: 100%;
					border: 1px solid white;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
		}
		
		.cr-chat {
			height: 100%;
			display: inline-block;
			float: right;
			background-color: blue;
			position: relative;
			z-index: 10;

			textarea {
				resize: none;
				height: inherit;
			}

			.cr-chat-form {
				position: absolute;
				width: 100%;
				bottom: 0;
				background-color: green;

				input, button {
					margin: 0;
					padding: 0;
					display: inline-block;
					height: 50px;
				}

				input {
					width: 80%;
					float: left;
				}

				button {
					width: 20%;
					float: right;
				}
			}
		}
	}
}

#spectateStudent {
	ul {
		margin: 0 auto;
		width: 480px;
		
		li {
			width: 240px;
			border-top: 2px solid lightgrey;

			&.active {
				border-top: 2px solid black;
			}
			a {
				text-align: center;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left:20px;
				padding-right: 20px;

				background-color: transparent;

				&:focus {
					outline: none;
				}
			}
		}
	}

	#windows {
		p {
			margin-bottom: 10px;
		}

		.spectateImage {
			height: 220px;
			background: url(../img/spectate_message.gif);
		}
	}

	#mac {
		p {
			margin-bottom: 10px;
		}

		textarea {
			resize: none;
			height: 200px;

			&:focus {
				border: none;
			}
		}
	}
}

#spectateStudent {
	width: 550px !important;
}

#askToToggle,
#inGameCheck,
#spectateStudent {
	width: 400px;	

	h4 {
		text-align: center;
		margin-bottom: 20px;
	}

	a {
		display: block;
	}
}

