.star-rating {
	direction: rtl;
	display: inline-block;
	padding: 20px;

	input[type="radio"] {
		display: none;

		&:checked ~ label {
			color: #f2b600;
		}
	}

	label {
		color: #bbb;
		font-size: 18px;
		padding: 0;
		cursor: pointer;
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover,
		&:hover ~ label {
			color: #f2b600;
		}
	}
}

.chatroom {
	.cr-topbar {
		height: 75px;
		background-color: black;

		.cr-topbar-content {

			.cr-topbar-left {
				float: left;
				padding-left: 5px;
				width: 700px;

				.cr-topbar-champion {
					display: inline-block;
					height: 65px;
					width: 65px;
					margin-top: 5px;
					//margin-right: -2px;
					border: 1px solid white;
				}
			}

			.cr-topbar-right {
				float: right;
				width: 100px;
				height: 75px;
				border: 1px solid white;
			}
		}
	}

	.cr-bottom {
		height: calc(100vh - 75px);

		.cr-dynamic {
			height: 100%;
			display:inline-block;
			margin-right: 1px;
			float:left;
			background-color: pink;
		}
		
		.cr-chat {
			height: 100%;
			display: inline-block;
			float: right;
			background-color: blue;
			position: relative;

			textarea {
				resize: none;
				height: inherit;
			}

			.cr-chat-form {
				position: absolute;
				width: 100%;
				bottom: 0;
				background-color: green;

				input, button {
					margin: 0;
					padding: 0;
					display: inline-block;
					height: 50px;
				}

				input {
					width: 80%;
					float: left;
				}

				button {
					width: 20%;
					float: right;
				}
			}
		}
	}
}

