
.main {
	.intro {
		margin-top: 200px;
	}

	.faq-link {
		margin-top: 500px;

		> div {
			position: relative;
			width: fit-content;
			margin: 0 auto;
		}

		&.tab-title > a {
			width: 150px;
			margin: 0 auto;
		}

	}

	.center-text {
		position:fixed;
		display:block;
		width:100%;
		z-index:1;

		h2, a {
			text-align: center;
		}
	}

	.section {
		height: 100vh;

		&.left {
			background-color: red;
		}

		&.right {
			background-color: blue;
		}

		.button-div {
			margin-top: 300px;

			.button {
				width: 100%;
			}
		}
	}
}
