
.main {
	.intro {
		margin-top: 200px;
	}

	.background {
		background-image: url("../img/home-bg.jpg");
		background-size: cover;
		height: 100vh;
	}

	.faq-link {
		margin-top: 450px;

		> div {
			position: relative;
			width: fit-content;
			margin: 0 auto;
		}

		&.tab-title > a {
			width: fit-content;
			padding: 10px 20px;
			margin: 0 auto;
			background-color: $grey;
			opacity: 0.8;
			border-radius: 15px;
			color: $white !important;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	.center-text {
		position:fixed;
		display:block;
		width:100%;
		z-index:1;

		h2, a {
			text-align: center;
			color: $white;
		}
	}

	.section {
		height: 100vh;
/*
		&.left {
			background-image: url("../img/home-student.jpeg");
			background-size: cover;
		}

		&.right {
			background-image: url("../img/home-teacher.jpeg");
			background-size: cover;
		}
*/
		.button-div {
			margin-top: 300px;

			.button {
				width: 100%;
				border-radius: 15px;
				background-color: $grey;
				opacity: .8;	

				&:hover {
					opacity: .9;
				}
			}
		}
	}
}

.faq-container {
	margin-top: 100px;

	.faq-title {
		height: 50px;

		h2 {
			font-size: 24px;
			line-height: 50px;
			margin: 0;
			color: $white;
		}

		.tabs a {
			padding: 0px 10px;
			line-height: 50px;
			vertical-align: middle;
			background-color: transparent;
			color: $white;
			text-decoration: underline;
		}
	}

	.faq-content {
		.question {
			border-bottom: 1px solid $grey;
		}

		.faq-question {
			color: white;
			background-color: $grey;
			opacity: 0.9;
			padding-left: 10px;

			p {
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 0;
			}
		}
		
		.faq-answer {
			border-left: $grey 1px solid;
			border-right: $grey 1px solid;
			border-bottom: $grey 1px solid;
			background: $white;
			opacity: 0.9;
			padding-left: 10px;
			padding-top: 5px;
			padding-bottom: 5px;

			p {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 0;
			}
		}
	}
}
